.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1.3vh 1.3vh;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень снизу */
}

.logo-block {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 8vh;
}

.routes {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    color: #000;
    gap: 5vw;
    margin-right: 2vw;
}

.routes a {
    text-decoration: none;
    color: inherit;
}




