.About-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}
header {
  display: block;
  border-radius:11px;
  border-bottom-color:#636363;
  border-bottom-width:2px
}
body {
  background-color: var(--wp--preset--color--base-2);
  color: var(--wp--preset--color--contrast);
  font-family: var(--wp--preset--font-family--heading);
  font-size: var(--wp--preset--font-size--medium);
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;
  --wp--style--root--padding-top: 0px;
  --wp--style--root--padding-right: var(--wp--preset--spacing--50);
  --wp--style--root--padding-bottom: 0px;
  --wp--style--root--padding-left: var(--wp--preset--spacing--50);
}
.headerpara{
  font-style:normal;
  font-weight:500;
  border-radius:11px;
  border-bottom-color:#636363;
  border-bottom-width:2px
}